.styled-divs {
  width: 300px;
  height: 300px;
  outline: px solid red;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: baseline;
  vertical-align: top;
}

.div-style-1 {
  background-color: #fcc;
  padding: 0 20px;

}

.div-style-2 {
  background-color: #ccf;
  border: 10px solid black;
}

.div-style-3 {
  background-color: purple;
  border: 20px solid yellow;
}

.div-row {
  box-sizing: border-box;
  outline: 1px solid green;
  height: 500px;
}