body {
    width: 600px;
}

p {
    font-size: 18px;
}

main li {
    font-family: 'Courier New', Courier, monospace;
    color: purple;
}

main ul > li {
    color: green;
}

a {
    text-decoration-line: none;
}

article p {
    color: brown;
}

.subheading {
    background-color: #e0e0e0;
}

#intro {
    font-size: 24px;
}