body {
    font-size: 18px;
}

em {
    font-size: 20px;
    text-transform: uppercase;
  }

strong {
    font-size: 15px;
  }

mark {
    background-color: yellow;
    font-family: Courier, monospace;
    font-size: 12px;
}