body, main, figure, figcaption, img {
    margin: 0;
    padding: 0;
  }

main {
    box-sizing: border-box;
    background-image: url('assets/gradient-background.png');
    background-size: cover;
}

figure {
    /* outline: 1px solid red; */
    /* background-color: yellow; */

    box-sizing: border-box;
    margin: 50px -4px 50px 0;
    padding: 0 50px;
    display: inline-block;
    width: 33.33%;
}

figcaption {
    text-align: center;
}

img {
    width: 100%;
    /* display: block; */

    /* margin: 0 auto; */
}