table {
    background-color: cyan;
    border-collapse: collapse;
}

td {
    /* background-color: orange; */
    /* padding: 0; */
}

tbody tr:nth-child(2n+1) {
    background-color: orange;
}

tbody tr:nth-child(2n+2) {
    background-color: yellow;
  }