@import url(whitespace-reset.css);

/* #region my_css */

label > img:active {
    /* border: 5px solid red; */
    transform: rotate(10deg);
    box-shadow: 10px 5px 5px black;
}

body {
    background-color: lightblue;
    /* display: flex; */
    display: flex;
}

input:checked#menu_burger + nav {
    display: none;
}

input:checked ~ div {
    visibility: visible;
}

.hide{
    display:none;
}


nav {
    border: 5px solid black;
    grid-area: sidebar;
}

main {
    border: 5px solid red;
    grid-area: checklist;
}

form {
    border: 5px solid green;
    background-color: yellow;
/*
    position: fixed;
    display: grid;
    align-items: center;
    justify-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}


.select-wrapper-due-date + .select-wrapper-due-date::before {
    content: "/"

}

.modal-wrapper {
    /* visibility: hidden; */
    background-color: rgb(0 0 0 / 40%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 680px) {
    body {
        flex-direction: column-reverse;
    };

    /* nav{
        background-color: yellow;
        display: none;
    }; */

    /* body {
        background-color: green;
    } */
    /* nav{
        display: none;
    } */
    /* label > img {
        visibility: hidden;
    } */
}





/* #endregion my_css */