.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.special {
    margin-top: 10px;
    margin-left: 50px;
    padding: 10px 10px;
    border: 10px solid rgba(255, 0, 64, .5);
}